@font-face {
    font-family: 'Bold';
    src: url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
}
@font-face {
    font-family: 'Regular';
    src: url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
}
@font-face {
    font-family:'Italic' ;
    src: url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
}
body{
    margin: 0;
    background-color: black;
    color: white;
}
h1, h2{
    font-family: 'Bold';
}
#ingredientes{
    color: lightblue;
}
#modo-preparo{
    color: lightcoral;
}
ul li{
    list-style-type: square;
    font-family: 'Italic';
}
ol li{
    font-family: 'Regular';
    list-style-type: lower-alpha;
}